*, *::before, *::after {
    box-sizing: border-box;
  }
  
  /* 2. Remove default margin */
  * {
    margin: 0;
    list-style: none;
    text-decoration: none;
  }
  
  body {
    /* 3. Add accessible line-height */
    line-height: 1.5;
    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
    font-family: 'Inter';
    background-color: var(--Grey900);
  }
  
  /* 5. Improve media defaults */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  /* 6. Inherit fonts for form controls */
  input, button, textarea, select {
    font: inherit;
  }
  
  /* 7. Avoid text overflows */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  /* 8. Improve line wrapping */
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }
  
  /*
    9. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }

  :root {
    --Green: hsl(75, 94%, 57%);
    --White: hsl(0, 0%, 100%);
    --Grey700: hsl(0, 0%, 20%);
    --Grey800: hsl(0, 0%, 12%);
    --Grey900: hsl(0, 0%, 8%);
  }

  @font-face {
    font-family: 'Inter'; /* The name you'll use in CSS */
    src: url('./assets/fonts/Inter-VariableFont_slnt\,wght.ttf') format('truetype');
    font-weight: 400; /* Regular weight */
    font-style: normal; /* Normal style */
  }

  /* ***************************MAIN STYLING*********************** */
  .main{
   width: 95%; 
   margin: 0 auto;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   padding: 1.5rem;
   background-color: var(--Grey800);
   border-radius: 10px;
   margin-top: 1.5rem;
   margin-bottom: 2rem;
  }

  /* ***************************HEADER-MAIN STYLING*********************** */
  .header-main {
    /* border: 1px solid red; */
    border: none;
  }
/* *************PROFILE PIC STYLING************ */
  .profile-pic {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 0 auto;
  }

  /* *************HEADER-MAIN TEXTBOX STYLING************ */
  .header-main-textbox {
  text-align: center;
  }
  
  .header-main-textbox h1{
    color: var(--White);
  }

  .header-main-textbox h2{
    color: var(--Green);
    font-size: 1.2rem;
  }
  
  /* **************************************MAIN P TEXT STYLING************ */
  .main-p-text {
    text-align: center;
    /* padding: .8rem 0; */
    padding-block-start: .8rem ;
    color: var(--White);
  }

  /* ***************************LINK SECTION STYLING*********************** */
  .link-section {
    /* border: 1px solid red; */
    border: none;
  }

  .link-section ul {
    display: inline;
    text-align: center;
  }

  .link-section ul li{
   margin: 1rem;
   padding: 0rem 3.5rem;
   background-color: var(--Grey700);
   border-radius: 10px;
   transition: .3s ease-in-out;
  }

  .link-section ul li:first-child{
    margin: 0 1rem;
   }

   .link-section ul li:hover {
    background-color: var(--Green);
    cursor: pointer;
   }

  .link-text {
    color: var(--White);
    display: block;
    padding: 1rem ;
    font-weight: 500;
  }

  .link-text:hover {
    color: var(--Grey900);
  }


  /* ***************************MEDIA QUERIES*********************** */

  @media (min-width: 1200px) and (max-width:1440px) {
    .main {
      width: 30%;
    }
  }

    .attribution { 
      font-size: 11px; 
      text-align: center;
      color: var(--White); 
      padding: 1rem 0;
    }
    .attribution a { 
      color: var(--Green); 
    }